<!-- Empty Cart -->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col text-center">
            <img style="width: 40vw;" src="https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif" alt="">
            <div>
                <h3>Your Cart is Empty</h3>
                <button class="btn btn-primary">Shop now</button>
            </div>

        </div>
       
    </div>
</div>



<!-- table for Cart -->
<div class="container">
    <div class="row">
        <div class="col">
            <table class="mt-5">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>123</th>
                        <th>T-shirt</th>
                        <th><img  src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/424873/sub/goods_424873_sub14.jpg?width=1600&impolicy=quality_75"></th>
                        <th>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, similique</th>
                        <th>600</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
            <div class="mt-3 mb-5 text-end">
                <button class="btn btn-danger m-2">Empty Cart</button>
                <button class="btn btn-primary m-2">Shop more</button>
                <button class="btn btn-success m-2">Check Out</button>
                <b>Grand Total:600</b>
            </div>
        </div>
    </div>
</div>